.header {
    width: 100%;
    padding: 28px 0 10px;
    background-image: url(../images/bg-header.gif);
    background-repeat: repeat-x;
    box-shadow: 0 0 10px 1px #e3e3e3;
}

.header h1 {
    text-align: center;
}

.gloval-nav {
    margin-top: 15px;
    text-align: center;
}

.gloval-nav .nav-link {
    display: inline-block;
    margin: 0 20px;
}

.nav-items {
    display: flex;
    justify-content: center;
    align-content: center; 
}

.gloval-nav .nav-link a{
    width: 100%;
    height: 30px;
    text-align: center;
    border-radius: 8px;
    color: #666;
    font-size: 1.3rem;
    transition: 0.15s;
    padding: 3px 15px;
}

.gloval-nav .nav-link.active a,
.gloval-nav .nav-link a:hover {
    background-color: #d03c56;
    color: #fff;
}

main {
    width: 970px;
    margin: 30px auto 40px;
    display: flex;
}

article {
    display: block; /*internet exploreにもブロックレベル要素として認識されるように*/
    margin-right: 20px;
}

aside {
    width: 275px;
}

footer {    
    border: 2px solid black;
    width: 100%;
}

.ht-link {
    display: block;
    height: 300px;
    margin-bottom: 30px;
    box-shadow: 0px 6px 4px -4px rgba(0,0,0,0.15);
    /*「右方向のずれ」「下方向のずれ」「ぼかしの大きさ」「拡張の大きさ」「影の色」*/
    display: flex;
}

.ht-link:hover {
    opacity: 0.85;
}

.hot-topic .image {
    width: 50%;
    height: 100%;
    object-fit: cover;
    /*画像が伸びる時の対策*/
}

.hot-topic .ht-content {
    width: 50%;
    height: 100%;
    padding: 105px 25px 0;
    background-color: #2d3d54;
    position: relative;
    overflow-y: scroll;
}

.hot-topic .title {
    margin-bottom: 15px;
    color: #fff;
    font-weight: normal;
    font-size: 2.0rem;
}

.hot-topic .desc {
    color: #ddc;
}

.hot-topic .date {
    position: absolute;
    top: 30px;
    left: 0;
    background-color: #fff;
    color: #2d3d54;
    padding: 0 10px;
}

.heading {
    padding: 10px 20px;
    background-image: url(../images/bg-slash.gif);
    font-size: 1.6rem;
}

.scroll-list {
    max-height: 220px;
    overflow-y: auto;
    /*overflow: visible[要素からはみ出たコンテンツを要素の外に出す],
    hidden[はみ出たコンテンツを表示しない],
    scroll[],
    auto[要素に依存して勝手にスクロールする]*/
    margin-bottom: 30px;
    list-style: none;
}

.scroll-list .scroll-item a {
    display: block;
    /*list行全体をリンク領域にする。これがないと右に余白ができる*/
    padding: 10px 15px;
    color: #333;
    transition: 0.1s;
    /* font-size: 0; */
    /*block,inlineblockを続けてコードすると横に並ぶがその要素間に
    改行があると半角スペースとして認識されて、その分今回でいうspan
    が入れずに改行してしまう。
    その対策としてfontsize0を指定し子要素のfontsizeを指定しなおす*/
    /*いらなかった*/
}
.scroll-list .scroll-item a:hover {
    background-color: #fafaf8;
}

.scroll-list .scroll-item:nth-of-type(even) a {
    background-image: url(../images/bg-slash.gif);
    /*nth-of-type[同じ階層の同じ要素のn番目を取得],
    nth-child[同じ階層のすべての要素を含むn番目]*/
}

.scroll-list .date {
    display: inline-block;
    width: 19%; 
    /*子要素が親要素より大きくなるとスクロールが表示される。
    スクロールアイコンの表示の分幅が狭くなるのでリストの横幅が
    変わっても横並びを維持できるように割合で表示する。*/
    font-size: 1.0rem;
    font-weight: bold;
}

.scroll-list .category {
    display: inline-block;
    width: 8%;
    font-size: 1.0rem;
    background-color: #d03c56;
    border-radius: 5px;
    text-align: center;
    color: #fff;
}

.scroll-list .category.news { 
    /*同じ要素内にあるclassはスペースをあけずに指定する*/
    background-color: #2c3c53;
}

.scroll-list .title {
    display: inline-block;
    width: 70%;
    padding-left: 15px;
    font-size: 1.2rem;
    padding-left: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.contents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    margin-bottom: 15px;
    padding: 15px;
    width: 49%;
    box-shadow: 6px 6px 8px -4px rgba(0,0,0,0.15);
    transition: 0.15s;
    position: relative;
}
.box:hover {
    opacity: 0.85;
}

.box-link {
    display: block;
    
}

.box-link img {
    display: block;
    width: 100%;
    height: auto;
    /*hやpのサイズによって自動で縮尺が変わる*/
}

.contents .box-link .title {
    font-size: 1.8rem;
    color: #555;
    padding: 15px 0 15px 30px;
    font-weight: bold;
}

.contents .box-link .desc {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #555;
    padding: 0 15px 32px;
    font-size: 1.3rem;
}

.contents .box-link .date {
    color: #555;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #b5d264;
    padding: 0 10px;
}

.ranking-list {
    margin-bottom: 30px;
    list-style: none;
    counter-reset: ranking;
}

.ranking-list .ranking-item {
    margin-top: 15px;
}

.ranking-list .ranking-item a {
    display: block;
    font-size: 0;
    transition: 0.15s;
    display: flex;
    justify-content: space-around;

}
.ranking-item a:hover {
    opacity: 0.8;
}

.ranking-item .numimage {
    width: 55px;
    height: 55px;
}

.ranking-item .text {
    display: inline-block;
    width: 182px;
    color: #000;
    vertical-align: top;
    font-size: 1.2rem;
}

.ranking-list .order {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 20px 18px 0;
    border: 1px solid #ccc;
    color: #aaa;
    font-weight: bold;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    /*ベンダープレフィックス*/
    transform: rotate(45deg);
    padding-left: 5px;
}

.ranking-list .ranking-item:nth-of-type(1) .order,
.ranking-list .ranking-item:nth-of-type(2) .order,
.ranking-list .ranking-item:nth-of-type(3) .order {
    border: none;
    color: #fff;
    font-weight: normal;
    
}
.ranking-list .ranking-item:nth-of-type(1) .order {
    background-color: #dab431;
}
.ranking-list .ranking-item:nth-of-type(2) .order {
    background-color: #6e7b84;
}
.ranking-list .ranking-item:nth-of-type(3) .order {
    background-color: #a0541a;
}

.ranking-list .order::before {
    content: counter(ranking);
    counter-increment: ranking;
    display: inline-block;
    font-size: 1.0rem;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.alcohol {
    margin: 10px 10px 30px;
}

.documents, .documents ul {
    list-style: none;
}

.documents>li .title {
    margin: 15px 0;
    padding-left: 8px;
    border-left: 5px solid #d03c56;
    font-size: 1.4rem;
}

.documents>li+li {
    margin-top: 25px;
}

.documents>li ul {
    margin: 15px;
}

.documents>li ul>li {
    margin-bottom: 15px;
    padding-left: 10px;
    background-image: url(../images/arrow.gif);
    background-position: left;
    background-repeat: no-repeat;
}

.documents a:hover {
    text-decoration: underline;
}

.seach-box {
    padding: 15px;
    background-color: #ccc;
}

.seach-box .seach-input {
    width: 205px;
    height: 26px;
    padding: 0 10px;
    border: none;
}

.btn {
    width: 40px;
    height: 26px;
    border: none;
    background-color: #d03c56;
    color: #fff;
    cursor: pointer;
}

.text {
    margin-top: 12px;
}

footer {
    width: 100%;
    padding: 20px 0 30px;
    background-color: #2d3d54;
    background-image: url(../images/bg-footer.gif);
    color: #fff;
}

.footer-list {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
}

.footer-item {
    display: block;
    padding: 0 15px;
}

.footer-list .footer-item+ .footer-item {
    border-left: 1px solid #bbb;
}

.footer-item a {
    border-bottom: 1px dashed #777;
    color: #bbb;
    font-size: 1.1rem;
    transition: color 0.15s;
}
.footer-item a:hover {
    color: #ddd;
}

.copyright {
    margin-top: 30px;
    text-align: center;

}